.cpu-checker-wrapper {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
}
.cpu-checker-wrapper .usage-graph {
	background: #eee;
	overflow: hidden;
	width: 100%;
	height: 200px;
	border-radius: 4px;
	border: 1px solid #BBB;
	position: relative;
}
.cpu-checker-wrapper .usage-graph-bar {
	position: relative;
	float: left;
	width: 2%;
	background: #B85C5C;
	color: #fff;
	margin: 0 0 0 0.4%;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cpu-checker-wrapper .usage-graph-bar-hidden-val {
	display: none;
	transition: all 0.3s ease;
}
.cpu-checker-wrapper .usage-graph-bar:hover {
	width: 4%;
}
.cpu-checker-wrapper .usage-graph-bar:hover > .usage-graph-bar-hidden-val {
	display: block;
	position: absolute;
	top: -16px;
	width: 100%;
	background: #CCC;
	line-height: 10px;
	font-size: 10px;
	text-align: center;
	padding: 3px 0 2px;
	border-bottom: 1px solid #000;
}


/* Control panel */

	.cpu-checker-control-panel {
		text-align: center;
		margin: 10px 0 8px;
	}

	/*Inputs */
	.cpu-checker-wrapper button,
	.cpu-checker-wrapper input[type="text"] {
		padding: 6px 12px;
		border: none;
		border-radius: 4px;
		font-size: 0.9em;
		cursor: pointer;
	}
	.cpu-checker-wrapper textarea:focus, 
	.cpu-checker-wrapper input:focus,
	.cpu-checker-wrapper button:focus {
	    outline: 0;
	}

	/* Inputs, text etc. */
	.cpu-checker-wrapper input[type="text"] {
		padding: 6px;
		border: 1px solid #ddd;
	}

	/* Inputs, buttons etc. */
	.cpu-checker-wrapper button {
		color: #fff;
		transition: 0.1s all ease;
	}
	.cpu-checker-wrapper button:hover {
		box-shadow: inset 0 10px 10px -5px rgba(0,0,0,0.2);
	}
	.cpu-checker-wrapper button:active {
		box-shadow: inset 0 8px 10px -5px rgba(0,0,0,0.1);
		opacity: 0.9;
	}
	.cpu-checker-wrapper .positive-value {
		background: #5CB85C;
	}
	.cpu-checker-wrapper .negative-value {
		background: #B85C5C;
	}


/* percent stuff */

	.cpu-checker-wrapper .usage-graph-percent {
		width: 100%;
		border-top: 1px solid #999;
		margin-bottom: -1px;
		position: absolute;
		bottom: 0;
	}
	.cpu-checker-wrapper .usage-graph-25-percent {
		height: 25%;
	}
	.cpu-checker-wrapper .usage-graph-50-percent {
		height: 50%;
	}
	.cpu-checker-wrapper .usage-graph-75-percent {
		height: 75%;
	}
	.cpu-checker-wrapper .usage-graph-percent-text {
		padding: 0.2em;
		font-size: 0.8em;
		color: #999;
	}

/* Warning stuff */

	.cpu-checker-wrapper .warning-graph {
		overflow: hidden;
		margin: 0.3em 0 1em;
		text-align: center;
	}
	.cpu-checker-wrapper .warning-graph-warning {
		display: inline-block;
		width: 90px;
		font-size: 12px;
		text-align: center;
		margin: 3px 3px 3px 0;
		border-radius: 4px;
	}
	.cpu-checker-wrapper .warning-graph-warning-type-low {
		background: rgba(184, 92, 92, 0.3);
	}
	.cpu-checker-wrapper .warning-graph-warning-type-medium {
		background: rgba(184, 92, 92, 0.6);
	}
	.cpu-checker-wrapper .warning-graph-warning-type-high {
		background: rgba(184, 92, 92, 1);
	}
	.cpu-checker-wrapper .warning-graph-warning-time {
		margin: 0.8em 0 0;
		font-size: 1em;	
		line-height: 1em;
	}
	.cpu-checker-wrapper .warning-graph-warning-cpu-usage {
		font-size: 2.4em;
		line-height: 1em;
		margin: 0.3em 0 0.35em;
	}


/* Usage big number */

	.cpu-checker-wrapper .usage-graph-big-usage-number {
		text-align: center;
		font-size: 7.4em;
		line-height: 1em;
		height: 0;
		overflow: visible;
		color: #FFF;
		position: relative;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	}