<template name="cpuChecker">

	<div class="cpu-checker-wrapper">
		
		{{> cpuCheckerControlPanel }}

		<div class="usage-graph">
			<div class="usage-graph-percent usage-graph-25-percent">
				<div class="usage-graph-percent-text">25%</div>
			</div>
			<div class="usage-graph-percent usage-graph-50-percent">
				<div class="usage-graph-percent-text">50%</div>
			</div>
			<div class="usage-graph-percent usage-graph-75-percent">
				<div class="usage-graph-percent-text">75%</div>
			</div>
			<div class="usage-graph-big-usage-number">
				{{> currentUsageBigNumber}}
			</div>
		</div>

		{{> cpuWarnings}}

	</div>

</template>